This notebook contain exercises for classes copied form readme.

In [1]:
import numpy as np
import pandas as pd

## Exercise 1 

Fix the code, so that all ``assert`` pass.

In [2]:
arr1 = np.array([100 for _ in range (0,10)])
arr2 = np.array([156 for _ in range (0, 10)])

assert len(arr1) == 10
assert len(arr2) == 10
assert np.all(arr1 == 100)
assert np.all(arr2 == 156)

arr2 = arr2 - 256

assert np.all(arr1 + arr2 == 0)

## Exercise 2

Load data from ``data/sample.csv``; calculate mean, median and std for each column separately.
Solve this using numpy and without numpy (or pandas etc.)

Measure the time of it execution (using ``%time`` magic or ``time()`` function from ``time`` module) for each case.

In [3]:
import csv

In [4]:
%%time
print(".")

.
CPU times: total: 0 ns
Wall time: 0 ns

## Exercise 3

Load data from ``data/ex3_data.npy`` and filter out rows with ``nan`` values.
Report how many rows are dropped during filtration, globally and how many ``nan`` are in each column.

In [5]:
data = np.load("data/ex3_data.npy")
data.shape

(200, 4)

In [6]:
original_rows = data.shape[0]
nan_rows_mask = np.isnan(data).any(axis=1)
rows_with_nan = np.sum(nan_rows_mask)
rows_after_filter = original_rows - rows_with_nan

nan_per_column = np.isnan(data).sum(axis=0)

In [7]:
print("Dropped rows: ", rows_after_filter)
print("NaN in each column: ", nan_per_column)

Dropped rows:  190
NaN in each column:  [3 3 4 1]

## Exercise 4

Load data from ``data/iris.csv`` using ``loadtxt`` from ``numpy``. 
Skip header and name columns.
For each column calculate: `mean`, `median` and `std` using `axis` parameter.

In [8]:
data_pd = pd.read_csv("./data/iris.csv")

data_pd

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [9]:
data_np = np.loadtxt("./data/iris.csv", delimiter=",",  usecols=(0,1,2,3), skiprows=1)

means = np.mean(data_np, axis=0)
medians = np.median(data_np, axis=0)
stds = np.std(data_np, axis=0)

In [10]:
print("Means:", means)
print("Medians: ", medians)
print("Stds: ",  stds)

Means: [5.84333333 3.05733333 3.758      1.19933333]
Medians:  [5.8  3.   4.35 1.3 ]
Stds:  [0.82530129 0.43441097 1.75940407 0.75969263]

## Exercise 5

Load data from ``data/sample_treated.npz``. 
Assume that each row of the ``outputs`` array contains information about the size of some structure traced in time.
We would like to know which object grows doubles its size during observation.

Firstly, we are going to read our data.

In [11]:
data = np.load('data/sample_treated.npz')
outputs = data["outputs"]

In [12]:
outputs.shape

(1000, 200)

Let's find max in each column and then let's check if it is larger than doubled initial value.

In [13]:
max_in_row = outputs.max(axis = 1)
initial = outputs[:,0]

In [14]:
doubles_its_size = max_in_row > 2*initial
double_its_size_idxs  = np.nonzero(doubles_its_size)

Let's print all the indices on which observed size doubled its value.

In [15]:
print(double_its_size_idxs)

(array([  2,   6,   8,  11,  15,  16,  17,  20,  21,  26,  30,  33,  34,
        36,  39,  44,  47,  53,  55,  57,  59,  60,  63,  66,  67,  70,
        71,  74,  77,  81,  82,  83,  87,  89,  90,  91,  92,  96, 101,
       106, 113, 119, 123, 124, 126, 130, 135, 137, 139, 142, 143, 144,
       147, 148, 156, 159, 160, 165, 167, 173, 175, 177, 190, 192, 195,
       199, 203, 209, 211, 215, 216, 224, 226, 227, 231, 234, 236, 237,
       239, 247, 249, 251, 252, 253, 254, 255, 260, 262, 263, 269, 276,
       277, 279, 287, 290, 291, 296, 304, 311, 313, 314, 318, 326, 327,
       330, 331, 332, 333, 334, 335, 336, 356, 357, 358, 359, 364, 366,
       368, 369, 371, 376, 378, 382, 385, 388, 392, 395, 398, 405, 407,
       408, 421, 423, 425, 427, 432, 437, 447, 449, 456, 457, 462, 465,
       467, 470, 471, 480, 483, 485, 493, 499, 501, 503, 510, 511, 512,
       513, 516, 518, 520, 524, 527, 532, 536, 541, 544, 548, 549, 550,
       569, 574, 575, 579, 581, 585, 594, 598, 599, 604, 608, 609, 612,
       616, 617, 618, 635, 636, 640, 641, 648, 649, 651, 652, 653, 658,
       665, 667, 668, 669, 671, 678, 681, 684, 685, 687, 688, 693, 698,
       699, 700, 706, 708, 716, 719, 728, 734, 735, 739, 741, 743, 744,
       745, 746, 754, 756, 758, 759, 761, 766, 768, 771, 772, 774, 778,
       783, 788, 789, 790, 791, 795, 796, 800, 802, 804, 811, 812, 814,
       815, 820, 824, 827, 829, 834, 835, 836, 837, 840, 846, 847, 848,
       849, 861, 863, 864, 865, 867, 869, 870, 871, 879, 885, 891, 893,
       894, 895, 896, 899, 902, 907, 919, 924, 931, 932, 937, 940, 942,
       952, 961, 965, 971, 972, 973, 974, 979, 984, 985, 986, 987, 990,
       992, 998], dtype=int64),)